@model Product

<div class="card">
    <div class="row">
        <div class="col-md-4">
        <img
            src="~/images/@Model.ImageUrl"
            class="img-fluid"
        />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@Model.Price</li>
                <li class="list-group-item">@Model.City</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
            <a asp-controller="shop" asp-action="Details" asp-route-id="@Model.ProductId" class="btn btn-outline-primary btn-sm">Details</a>
            @* <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-outline-primary btn-sm">Edit</a>
            <form method="post" action="/product/delete" style="display: inline;">
                <input type="hidden" name="ProductId" value="@Model.ProductId">
                <button class="btn btn-danger btn-sm">Delete</button>
            </form> *@
            </div>
    </div>
</div>
