@model Product

<div class="card">
    <div class="row">
        <div class="col-md-4">
        <img
            src="~/images/@Model.ImageUrl"
            class="img-fluid"
        />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>City:</b> @Model.City</li>
                <li class="list-group-item"><b>Adult Price:</b> @Model.AdultPrice</li>
                <li class="list-group-item"><b>Child Price:</b> @Model.ChildPrice</li>
                @if (Model.ArrivalDate == null && Model.DepartureDate==null)
                {
                    <li class="list-group-item"><b>Reservation Date:</b> Bu hotelin mevcut tarihler arasında boş odaları bulunmaktadır.</li>
                }else
                {
                    <li class="list-group-item">Bu hotel <b>@Model.ArrivalDate</b> ve <b>@Model.DepartureDate</b> tarihleri arasında doludur!</li>
                }
            </ul>
            <div class="card-body">
                <a href="https://www.google.com" class="btn btn-outline-primary btn-sm">Hotel Link</a>
            @* <a asp-controller="shop" asp-action="Details" asp-route-url="@Model.Url" class="btn btn-outline-primary btn-sm">Details</a> *@
            </div>
    </div>
</div>